@font-face {
    font-family: 'CooperLakeGothic';
    src: url('/Fontes/Fonte.ttf') format('truetype');
}
@import url('color.css'); 

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: var(--secundario);
}
#iframe-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.header {
    width: 100%;
    background-color: var(--cabecalho);
    position: fixed;
    top: 0;
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 10px solid rgba(30, 90, 0);
    border-bottom: 10px solid rgba(30, 90, 0);
    transition: top 1s ease ;
}

.overlay {
    position: fixed;
    top: 16%;
    width: 100%;
    padding-top: 10px;
    height: 8%;
    gap: 5%;
    display: flex;
    background-color: rgba(30, 90, 0);
    transition: top 1s ease ;
}

.page-select {
    width: 40%;
    justify-content: center;
    font-family: 'CooperLakeGothic', sans-serif;
    text-align: center;
    color: rgba(30, 90, 0);
    height: 80%;
    font-size: 1.5vh;
    border-radius: 10px;
    display: flex;
    background-color: var(--cabecalho);
}
.selected_page {
    background-color: var(--principal);
    color: var(--texto);
}

.logo {
    width: 50vh;
    transform: translate(-5%, 3%);
    height: 18vh;
    margin: 0 auto;
    border: none;
}
.page {
    width: 70%;
    padding-left: 15%;
    height: 100%;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.menu {
    width: 9vh;
    height: 9vh;
    transform: translate(1vw , 0%);
}

@media (max-width: 768px) {
    .page-select {
        height: 8vh;
        background-color: rgba(30, 90, 0);
        color: var(--cabecalho);
        display: inline-block;
        font-size: 1vh;
    }
    .selected_page {
        background-color: var(--principal);
        color: rgba(30, 90, 0);
    }
    .page-select-text {
        line-height: 1vh;
    }
    .header {
        border-top: none;
        height: 80px;
    }
    .logo {
        width: 220px;
        height: 80px;
        padding-left: 10px;
        top: 8px;
        border: none;
    }
    .overlay {
        border-top: 10px solid rgba(30, 90, 0);
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-top: auto;
        color: white;
        text-align: center;
        padding: 10px 0;
        background-color: var(--cabecalho);
    }
    .menu {
        width: 40px;
        height: 40px;
        transform: translate(1vw, 0px);
    }
}