.icon-page {
    margin-left: -1vw;
}

.icon-color-green {
    filter:
        brightness(0) 
        invert(1)
        sepia(1)
        hue-rotate(45deg)
        saturate(2700%)
        brightness(0.375); 
}
.icon-color-light {
    filter:
        brightness(0) 
        invert(1)
        brightness(0.8); 
}
.icon-color-dark {
    filter:
        brightness(0) 
        invert(1)
        brightness(0.1); 
}

.switch {
    margin-top: 1%;
    user-select: none;
    position: relative;
    width: 10vh;
    height: 80%;
    background: var(--cabecalho);
    border: 2px solid rgb(30, 90, 0);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .switch .slider {
    position: absolute;
    width: 4vh;
    height: 4vh;
    background-color: rgb(30, 90, 0);
    border-radius: 50%;
    top: 10%;
    left: 2.5vh;
    transition: left 0.3s;
  }

  .switch-enable .slider {
    left: 5vh;
  }
  
  .switch-disable .slider {
    left: 1vh;
  }

@media (max-width: 768px) {
    .icon-page {
        height: 55%;
        margin-left: -1vw;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 8vh;
        user-select: none;
        height: 45%;
        margin-top: -1%;
        background: var(--cabecalho);
        border: 2px solid rgb(30, 90, 0);
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
    
      .switch .slider {
        position: absolute;
        width: 3vh;
        height: 3vh;
        background-color: rgb(30, 90, 0);
        border-radius: 50%;
        top: 10%;
        left: 2.5vh;
        transition: left 0.3s;
      }
    
      .switch-enable .slider {
        left: 4vh;
      }
      
      .switch-disable .slider {
        left: 1vh;
      }
}